# Django development
/db.sqlite3
/venv
/log/*.log
/log/*.log.*
/log/*.log.json
/log/audit/*.log.json
/log/audit/*.log.json.*
# Python
*.pyc
*.pyo

# Vim editor
.*.swp

# Pip temporary directories
/source
/build

# Test outputs
/out
/.coverage

# IntelliJ IDE
/.idea

# apple mac lol
.DS_Store
client_secret.json
*.pickle
