# Django development
/db.sqlite3
/venv
/log/*.log
/log/*.log.json
/log/*
# Python
*.pyc
*.pyo

# Vim editor
.*.swp

# Pip temporary directories
/source
/build

# Test outputs
/out
/.coverage

# IntelliJ IDE
/.idea
